.admin-login__container {
  height: calc(100vh - 125px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.admin-login-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 70px;
  background-color: #e9ecef;
}
