.Signin {
  background-color: #e1e7ff;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.Signin-Form {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 25px;
  box-shadow: 10px 10px 5px grey;
  /* max-width: 500px; */

  background-color: #c0caca;
}
.Signin-label {
  text-align: center;
  font-family: sans-serif;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
