.sp__dashboard-container {
  padding-bottom: 260px;
}

.sp__dashboard-no-order-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sp__dashboard-no-order-img {
  height: 100px;
  width: 100px;
}

.sp__dashboard-pie-charts-container {
  display: flex;
  align-items: center;
  height: -10%;
  width: 70%;
  margin: auto;
  justify-content: center;
  /* gap: 20px; */
  margin-top: 30px;
}

.sp__dashboard-pie-chart {
  width: 60%;
}

.sp__dashboard-pri-chart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sp__dashboard-chart-label {
  text-align: center;
}

.sp__dashboard-orders-reviews-add_service-container {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.sp__dashboard-recent-order-container {
  border: 1px solid gainsboro;
  padding: 10px;
  min-width: 25%;
  text-align: center;
}

.sp__dashboard-recent-orders-list {
  padding: 0;
}

.sp__dashboard-recent-orders-li {
  list-style: none;
  margin: 5px;
}

.sp__dashboard-add-service-image {
  width: 120px;
  height: 120px;
  margin-top: 30px;
}

.sp__dashboard-add-service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gainsboro;
  padding: 10px;
  min-width: 25%;
}

.sp__dashboard-reviews-container {
  border: 1px solid gainsboro;
  padding: 10px;
  min-width: 25%;
}

.sp__dashboard-single-rating-review-wrapper {
  display: flex;
  gap: 20px;
  margin: 5px;
}

.sp__dashboard-user-review {
  text-overflow: ellipsis;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sp__dashboard-user-rating {
  margin-left: auto;
}
