.MainCardDashboard {
  padding: 10px;
  background-color: #e1e7ff;
  position: relative;
}

.dashboard__add-service-link {
  padding: 0;
}

.carddatsboard1 {
  background-color: #c0caca;
  border-radius: 25px;
}

.cardsDashboard {
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 25px;
}

.latestOrdersDashBoard {
  margin: 10px;
  background-color: white;
  border-radius: 25px;
}
.ratingsDashboard {
  margin: 10px;
  background-color: white;
  border-radius: 25px;
}
.addserviceDashBoard {
  margin: 10px;
  background-color: white;
  border-radius: 25px;
}
.checked {
  color: orange;
}
