.service_provider__container {
  display: flex;
}

.service_provider__logo-container {
  flex-grow: 1;
}

.service_provider__form {
  flex-grow: 1;
}

.service_provider__inputs-container {
  display: flex;
  flex-direction: row;
}

.service_provider__column {
  flex: 50%;
}

.service_provider__input {
  display: flex;
  flex-direction: column;
}

.service_provider__input-field {
  width: 50%;
}
