.cart__container {
  height: auto;
  padding-bottom: 260px;
}

.cart__table {
  margin: auto;
  margin-top: 20px;
}

.cart__thead-cells {
  margin: 10px;
  background-color: #36304a;
  padding: 10px;
  border-bottom: 1px solid black;
  color: white;
  text-align: center;
}

.cart__tbody-cells {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

tfoot {
  margin-top: 10px;
  transform: translateX(81%);
}

.cart__tfoot-cell {
  padding: 10px;
}

.place-order-button-container {
  padding-left: 25px;
}

.cart__tbodyRow:hover td {
  background-color: #d1d1d1;
}
