.sp__service-details-wrapper {
  /* padding-bottom: 270px; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  align-items: baseline;
  height: calc(100vh - 215px);
}

.sp__service-details-information-container {
  border: 1px solid gainsboro;
  padding: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.sp__service-details-information-heading {
  margin: auto;
  margin-bottom: 10px;
}

.sp__service-details-information {
  margin-top: 20px;
}

.sp__service-details-information-content {
  margin-bottom: 25px;
}

.sp__service-details-all-images-container {
  padding: 10px;
  border: 1px solid gainsboro;
  overflow-x: scroll;
  width: 300px;
  overflow-y: hidden;
  position: relative;
  height: 90px;
  white-space: nowrap;
}

.sp__service-details-img {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.sp__service-details-delete-img-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.sp__service-details-reviews-container {
  padding: 10px;
  border: 1px solid gainsboro;
  overflow: auto;
  height: 100%;
}

.sp__service-details-images-container {
  display: flex;
  align-items: center;
}

.sp__service-details-edit-btn {
  width: 10%;
  align-self: center;
}

.sp__service-details-update-input-wrapper {
  margin-top: 10px;
}

.sp__service-details-update-cancel-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.sp__service-details-images-and-reviews-container {
  display: flex;
  flex-direction: column;
  height: 63%;
  justify-content: space-between;
  width: 25%;
  align-self: flex-start;
}

.sp__service-details-reviews-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  height: 57%;
  /* margin-bottom: 40px;*/
}

.sp__service-details-review-text {
  color: rgb(112, 112, 112);
  border-bottom: 1px solid gainsboro;
}
