.sp__add-service-container {
  height: auto;
  padding-bottom: 260px;
}

.sp__add-service-form-container {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
  border: 1px solid gainsboro;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.sp__add-service-sub-entry {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sp__add-service-inputs-container {
  display: flex;
  justify-content: space-evenly;
}

.sp__add-service-heading-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.sp__add-service-tn-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.sp__add-service-uploaded-images {
  padding: 10px;
  border: 1px solid gainsboro;
  overflow-x: scroll;
  width: 300px;
  overflow-y: hidden;
  position: relative;
  height: 90px;
  white-space: nowrap;
}
