#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Flex", sans-serif;
  /* font-family: "Joan", serif; */
  overflow-x: clip;
}

.inputField__error-message-span {
  color: red;
  font-size: x-small;
}

.inputField__error-message-wrapper {
  margin-bottom: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 50%;
}
